version: '3.8'
services:
  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_PASSWORD: npg_9jX4lOkRNuoY
      POSTGRES_USER: neondb_owner
      POSTGRES_DB: neondb
    ports:
      - "5432:5432"
  ollama:
    image: ollama/ollama
    ports:
      - "11434:11434"