streamlit==1.38.0
psycopg2-binary==2.9.9
sqlalchemy==2.0.35
numpy==1.26.4
pandas==2.2.0
polars==1.6.0
plotly==5.24.0
seaborn==0.13.2
matplotlib==3.9.0
altair==5.4.1
scikit-learn==1.4.0
xgboost==2.0.3
lightgbm==4.3.0
shap==0.44.0
autogluon==1.1.1
featuretools==1.31.0
tsfresh==0.20.3
pyjanitor==0.28.0
great-expectations==0.18.8
langchain==0.3.0
langchain-community==0.3.0
langchain-groq==0.2.0
faiss-cpu==1.8.0
streamlit-aggrid==0.3.5
streamlit-option-menu==0.3.13
streamlit-extras==0.5.0
torch==2.2.0
gymnasium==0.29.1
sentence-transformers==3.1.1
